@charset "UTF-8";

/* *-----------------------------
    common
*----------------------------- */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    position: relative;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #666;
}


img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

.wrapper {
    margin: 0 150px;
}

.title {
    text-align: left;
    padding: 50px;
    font-family: "Kaisei Decol", serif;
    color: #5c196b;
    font-size: 3.5rem;
    
}

.title::after {
    content: "";
    display: block;
    width: 210px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

.fade-up {
    opacity: 0;
    transform: translateY(10px);
    transition: all 1s ease;
}

.zoom-in {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.slide-left {
    opacity: 0;
    transform: translateX(10px);
    transition: all 1s ease;
}



/* -----------------------------
    header
----------------------------- */
header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}



nav li {
    padding-right: 20px;
    
}

nav {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: right;
}

.nav-list {
    display: flex;
    align-items: center;
    text-align: right;
    font-family: "Kaisei Decol", serif;
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 76px;
    height: 76px;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.3s;
}

.hamburger span{
    display: block;
    background-color: #d2bcfa;
    width: 50%;
    height: 2px;
    left: 22px;
    position: absolute;
    transition: 0.3s ease;

}
.hamburger span:first-of-type {
    top: 36%;
}

.hamburger span:nth-child(2){
    top: 50%;
}

.hamburger span:last-of-type {
    top: 64%;
}

.open .hamburger span:first-of-type {
    top: 50%;
    background-color: #fff;
    transform: rotate(-45deg);
}

.open .hamburger span:nth-of-type(2),
.open .hamburger span:nth-of-type(3){
    top: 50%;
    background-color: #fff;
    transform: rotate(45deg);
}

.entry-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 36px;
    border-radius: 100px;
    background: rgba(255,255,255,.72);
    overflow: hidden;
    cursor: pointer;
    box-shadow:
        0 4px 18px rgba(180,140,255,.18),
    inset 0 1px 0 rgba(255,255,255,.85);
    transition: transform .35s ease,box-shadow .35s ease;
    }

    .entry-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 1px solid rgba(185,150,255,.45);
    background:
        linear-gradient(
        180deg,
        rgba(255,255,255,.55),
        rgba(215,190,255,.15)
        );
    }

    .entry-fill {
    position: absolute;
    left: -3px;
    top: 0;
    width: 0%;
    height: 100%;
    border-radius: inherit;
    background:
        linear-gradient(
        90deg,
        #C8AEFF 0%,
        #B692FF 45%,
        #E8DCFF 100%
        );
    box-shadow:
        0 0 18px rgba(180,140,255,.45);

    transition:
        width .55s cubic-bezier(.22,1,.36,1);
    }

    .entry-text {
    position: relative;
    font-size: 13px;
    letter-spacing: .18em;
    font-weight: 600;
    color: #6E4FCB;
    transition:
        color .35s ease,;
        text-shadow: .35s ease;
    }

    .entry-btn::after {
    content: "✦";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    color: rgba(255,255,255,.9);
    opacity: .75;
    transition:
        transform .45s ease,
        opacity .35s ease;
    }

    .entry-btn:hover .entry-fill {
    width: 102%;
    }

    .entry-btn:hover .entry-text {
        color: white;
        text-shadow:
        0 0 12px rgba(255,255,255,.55);
    }

    .entry-btn:hover::after {
    transform:
        translateY(-50%)
        rotate(90deg)
        scale(1.15);

    opacity: 1;
    }

    .entry-btn:hover {
    transform: translateY(-1px);

    box-shadow:
        0 10px 28px rgba(180,140,255,.28),
        inset 0 1px 0 rgba(255,255,255,.95);
    }



.logo img {
    width: 200px;
    align-items: center;
}

.bg {
    background-color: #fff;
    border: solid 3px #B4D3D9;
    margin: 0 auto;
}

.bg:first-of-type {
    margin-top: 100px;
}
/* *-----------------------------
    main
*----------------------------- */

#about {
    scroll-margin-top: 80px;
}

.main-img {
    text-align: center;
    width: 100%;
    margin-top: 60px;
}

.text {
    position: absolute;
    top: 4%;
    left: 200px;
    font-family: "Rampart One", sans-serif;
}

.text h2 {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    margin-bottom: 20px;
}

.text p {
    color: #363636;
    font-size: 20px;
    font-family: "Kaisei Decol", serif;

    /* text-shadow: 3px 2px 2px rgba(105, 105, 105, 0.5); */
    /* font-weight: bold; */

}

.concept {
    margin: 110px 0 110px 0;
    text-align: center;
}

.concept-text {
    font-size: 50px;
    transform: translate(0px);
    padding-bottom: 20px;
    font-family: "Kaisei Decol", serif;
    color: #5c196b;
    
}

.concept p {
    margin-top: 20px;
    font-size: 20px;
}




#required {
    width: 100%;
    margin-top: 100px;
    scroll-margin-top: 80px;
}
.items {
    display: flex;
}

#required .item img {
    width: 80%;
    box-shadow: 0px 0px 12px #00000014;
}

.item {
    text-align: center;
    padding-bottom: 50px;
    
}

.item img {
    object-fit: cover;
    align-items: center;
}

#skills {
    width: 100%;
    margin-top: 100px;
    animation: skills 0.5s ease-out 0s 1 forwards;
    scroll-margin-top: 80px;
}

#skills .item img {
    width: 80%;
    box-shadow: 0px 0px 12px #00000014;
}

#skills .item h2{
    padding-top: 20px;
}



#flow {
    overflow: hidden;
}

#flow .title::after {
    content: "";
    display: block;
    width: 280px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

.flowlist {
    width: 60%;
    height: 125px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #B4D3D9;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-bottom: 50px;
    transform: translateX(100px);
    opacity: 0;
    transition: all 1s;
}

.flowlist.slide {
    transform: translateX(0);
    opacity: 1;
}

.flowlist p {
    font-size: 2.7rem;
    right: 20px;
    color: #2b2b2b;
    padding: 10px;
    padding-left: 30px;
}

.flowlist img {
    width:17%;
    border-radius: 50%;
    margin-left: -15px
}

.flowlist:nth-of-type(3) img ,.flowlist:nth-of-type(5) img {
    width:17%;
    position: relative;

    bottom: -8px;
}

.caution {
    text-align: right;
}

#question {
    padding: 100px 0;
    scroll-margin-top: 80px;
}

#question.title::after {
    content: "";
    display: block;
    width: 330px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

#question .title {
    padding-left: 0;
}

#question .title::after {
    content: "";
    display: block;
    width: 330px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.faq-item {
    border: 1px solid #666;
    background: #eadff0;
}

.faq-item:last-of-type {
    margin-bottom: 50px;
}



.faq-question {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 28px 70px 28px 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
}

.faq-question::before,
.faq-question::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    width: 22px;
    height: 2px;
    background: #111;
    transition: 0.1s;
}

.faq-question::before {
    transform: translateY(-50%);
}

.faq-question::after {
    transform: translateY(-50%) rotate(90deg);
}

.faq-item[open] .faq-question::after {
    opacity: 0;
}

.faq-answer p {
    padding: 0 30px 30px;
    font-size: 18px;
    line-height: 1.8;
}


#entry {
    padding-top: 100px;
}

.catch {
    color: #A593E0;
    text-shadow:
        0 0 5px rgba(134, 134, 134, 0.6),
        0 0 10px rgba(177, 177, 177, 0.5),
        0 0 20px rgba(193, 193, 193, 0.4);
    font-size: 2.75rem;
    text-align: center;
    font-weight: 550;
    letter-spacing: 0.08em;
    padding: 30px 0;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.btn img{
    width: 30%;
    filter: drop-shadow(0 4px 12px #AAABD3);
}

.btn img:hover {
    filter: none;
    opacity: 0.7;
    transition: 0.3s;
}

.adress {
    padding-bottom: 25px;
}

.adress p,.contact p {
    color: #444444;
}

.icon {
    margin: 10px 0;
}

.icon a {
    padding-right: 10px;
}
.icon img{
    width: 20px;
}

.info {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.info-text {
    margin-top: 30px;
    text-align: center;
}
/* -----------------------------
    footer
*----------------------------- */

#footer {
    padding-top: 30px;

}
.privacy {
    text-align: right;
    margin: 0 40px 10px 0;
    font-size: 0.95rem;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}


/* -----------------------------
    entrypage
----------------------------- */
.entry-page {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:'Noto Sans JP',sans-serif;
    background:#f7f2ff;
    color:#6b5ca5;
    overflow-x:hidden;
}

.entry-page::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
    radial-gradient(circle at top left,#d9c5ff 0%,transparent 30%),
    radial-gradient(circle at bottom right,#e9d6ff 0%,transparent 30%),
    linear-gradient(to bottom,#f8f4ff,#f6f1ff);
    z-index: -2;
}

.entry-page::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
        radial-gradient(#ffffffaa 1px, transparent 1px);
        z-index: -1;
        opacity: 0.3;
        background-size: 40px 40px;
}


.phrase {
    text-align: center;
    padding: 40px;
}

.phrase h1 {
    display: inline-block;
    background: linear-gradient(188deg, #005bea, #ff7eb3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 90px;
    margin-bottom: 25px;
}

.step{
    display:flex;
    align-items:center;
    gap:10px;
    color:#9d8fd0;
    font-size:14px;
    }

.circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background:#c8b0ff;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    display: flex;
}


.section-title {
    text-align: center;
    color: #444444;
    padding-bottom:25px ;
    font-size: 25px;
    font-family: "Kaisei Decol", serif;
}

.form-group {
    padding: 10px;
    display: flex;
    align-items: center;
}

.form-group label {
    width: 190px;
    margin-bottom: 5px;
}

.form-group input {
    flex: 1;
    border: 2px solid #c9b3d8;
    color: #292828;
}


.gender label {
    padding-right: 40px;
}

input[type="radio"] {
    accent-color: #716491;
}

#name,#adress,#date,#good,#aspiration {
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #efe6ff;
    box-shadow: 0px 0px 12px #0a080a14;
    width: 60%;
    border-radius: 27px;
    margin-bottom: 30px;
    padding: 30px;

}


textarea {
    width: 100%;
    border:2px solid #c9b3d8;
    box-sizing: border-box;
    outline: none;
    padding: 12px;
    color: #292828;
}

textarea::placeholder{
    font-size: 0.9rem;
}

#contact span {
    color: #ff5b68;
    font-size: 1rem;
    font-family: "Rampart One", sans-serif;
    padding-left: 5px;
}

.any {
    color: #c9b3d8;
}

.upload-date  {
    text-align: center;
}
.upload-date p:last-of-type {
    color: #666;
    margin-top: 30px;
}

.upload-date p:first-child {
    padding-bottom: 30px;
}

.upload-btn {
    display: inline-block;
    border: 2px solid #f5ebfc;
    box-shadow: 0 0 12px #c9b3d8;
    border-radius: 5px;
    padding: 6px 50px;
    color: #6b2c79;
    transition: 0.3s;
}

.upload-btn:hover{
    opacity: 0.75;
    transform: translateY(1px);
    transition: 0.3s;
}



#good .form-group{
    display: grid;
}

#good .form-group label {
    width: 100%;
    margin-bottom: 10px;
}

#good .form-group textarea {
    width: 100%;
    height: 50px;
    resize: none;
    overflow: hidden;
    color: #292828;
}

#good .form-group p {
    color: #666;
    font-size: 0.76rem;
    text-align: right;
}

#contact-entry {
    padding-top: 0;
}


.agree {
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #716491;
}

#contact-entry p {
    text-align: center;
    color: #666;
    margin-top: 20px;
    font-size: 0.75rem;
    margin-bottom: 30px;
}

.back {
    background-color: #8b8888;
    border-radius: 100px;
    width: 10%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;

}

.back a {
    color: #fff;
}

/* -----------------------------
    thanks
*----------------------------- */
.complete {
    text-align: center;
    margin: 75px 0;
}

.thanks img {
    margin-top: 20px;
    width: 50%;
}


/* -----------------------------
    privacy
*----------------------------- */

#privacy{
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    position: relative;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #666;
}

#privacy header {
    background-color: transparent;
}

#privacy main {
    padding: 100px 150px 0 150px;
    margin: 0 auto;

}

#privacy .logo img {
    display: flex;
    justify-content: flex-start;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.intro-card {
    background-color: #fff;
    width: 68%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 35px;
    color: #7a72a0;
    font-size: 15px;
    text-align: center;
}

.intro-card strong {
    color: #3a3358;
}

.articles {
    margin-top: 60px;
    color: #7a72a0;
}

#privacy article {
    border-left: 2px solid rgba(139, 107, 255, 0.35);
    padding-left: 10px;
    margin-bottom: 50px;
    position: relative;
}

#privacy article::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8b6bff;
    left: -6px;
    top: 5px;
    box-shadow: 0 0 10px 3px rgba(139, 107, 255, 0.5);
}


.article-head {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

}


.articles ol{
    padding-left: 2rem;
}


.article-num {
    color: #e666a8;
    font-size: 1.2rem;
    font-weight: bold;
}

.article-head h2 {
    color: #3a3358;
    padding-left: 10px;
    font-size: 1.2rem;
}

.contact-box{
    width: 60%;
    background: rgba(139, 107, 255, 0.06);
    border-radius: 20px;
    color: #7a72a0;
    font-size: 0.85rem;
    padding: 20px;
    border:1px solid rgba(127, 103, 212, 0.17);
    margin-top: 15px;

}

.contact-box strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #3a3358;
    font-weight: 600;
}

.pill {
    padding-bottom: 5px;
}


/* -----------------------------
    SP
*----------------------------- */


@media screen and (max-width: 768px){
    body {
        width: 100%;
        /* overflow: hidden; */
    }

    .wrapper{
    margin: 0 25px;
    }
    .concept {
    margin: 65px auto;
}
    .concept h2 {
        font-size: 25px;
    }
    
    .concept p {
        font-size: 13px;
    }

.bg:first-of-type {
    margin-top: 30px;
}

#header {
    height: 74px;
}


.hamburger {
    display: block;
}


.open .nav-list{
    position: absolute;
    opacity: 1;
    visibility: visible;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #d3c0f7;
    display: flex;
    flex-direction: column;
    top: 0;
    padding-top: 100px;
    align-items: start;
    transition: 0.3s ease, toransform 0.3s ease;
}

.open .nav-list li {
    padding: 20px;
    
}

.open .nav-list a {
    color: #fff;
}


.nav-list {
    position: fixed;
    inset: 0;
    background: #d3c0f7;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);

}


.entry-btn {
    right: 78px;
    transform: none;
    transition: none;
    -webkit-tap-highlight-color: transparent;
    width: 100px;
}

.entry-fill {
    display: none;
}

.entry-btn:hover{
    transform: none;
    box-shadow: none;
}

.entry-btn:hover .entry-text {
    color: #6E4FCB;
    text-shadow: none;
}


.logo img {
    align-items: center;
    width: 50%;
}

.text {
    width: 90%;
    position: absolute;
    left: 30px;
    top: 100px;
}

.text h2 {
    position: relative;
    font-size: 1.2rem;
}

.text p {
    font-size: 1rem;
}

.main-img {
    text-align: center;
    height: auto;
    display: block;
}

.title {
    font-size: 2rem;
    padding: 30px;
}

.items {
    flex-direction: column;
}

#required .item img {
    width: 50%;
}

#skills .item img {
    width: 50%;
}

.item p {
    font-size: 0.85rem;
}

#flow .title::after {
    width: 240px;
}

.flowlist {
    height: 70px;
    width: 90%;
}


.flowlist img {
    width: 26%;
}

.flowlist:nth-of-type(3) img ,.flowlist:nth-of-type(5) img {
    width: 26%;
}

.flowlist p {
    font-size: 1rem;
}

.flowlist:nth-of-type(3) img ,.flowlist:nth-of-type(5) img {
    bottom: -5px;
}

#question {
    padding: 0;
}

.faq-question {
    padding: 15px 70px 10px 30px;
    font-size: 0.75rem;
}

.faq-answer p {
    font-size: 0.75rem;
}

.catch {
    font-size: 1rem;
}

.section-title {
    font-size: 1.3rem;
}

.map iframe {
    width: 100%;
    height: 300px;
}

.form-group {   
    flex-direction: column;
}

.form-group label {
    width: none;
}

.gender label {
    padding-right: 10px;
}

#name,#adress,#date,#good,#aspiration {
    width: 100%;
}

.btn {
    margin-top: 20px;
}

.form-group textarea::placeholder {
    font-size: 0.7rem;
}

.back {
    width: 20%;

}
}