@charset "UTF-8";

/* *-----------------------------
    common
*----------------------------- */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 250vh;
background-size: cover;
    position: relative;
    background-image: url(/img/bgimg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

img {
    width: 100%;
}

/* *-----------------------------
    header
*----------------------------- */


header {
    width: 100%;

}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

.list ul {
    display: flex;
}

.list li {
    padding-right: 20px;
}


.list,.entrybtn {
    display: flex;
    align-items: center;
    text-align: right;
    margin: 20px 40px;
    justify-content: right;
}


