@charset "UTF-8";

/* *-----------------------------
    common
*----------------------------- */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    position: relative;
    background-image: url(/img/bgimg.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    overflow-x: hidden;
}


img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

.wrapper {
    margin: 0 150px;
}

.tittle {
    text-align: left;
    padding: 50px;
}

.tittle::after {
    content: "";
    display: block;
    width: 125px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}
/* *-----------------------------
    header
*----------------------------- */
header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}


nav li {
    padding-right: 20px;
    
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav ul{
    display: flex;
    align-items: center;
    text-align: right;
    font-weight: bold;
}

nav a {
    font-weight: bold;
    font-family: "Shippori Mincho B1", serif;
}


.logo img {
    width: 200px;
    align-items: center;
    padding-top: 5px;
}

.bg {
    background-color: #fff;
    border: solid 3px #C2E2FA;
    margin: 0 auto;
}

.bg:first-of-type {
    margin-top: 150px;
}
/* *-----------------------------
    main
*----------------------------- */

#main {
    width: 100%;
}
.main-img {
    text-align: center;
}


.mainvisual img {
    display: block;
    margin: 0 auto;
    position: relative;
}

.text {
    position: absolute;
    top: 355px;
    left: 200px;
    font-family: "Rampart One", sans-serif;
}

.text h2 {
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.text p {
    font-size: 50px;
    text-shadow: 3px 2px 2px rgba(105, 105, 105, 0.5);
    font-weight: bold;
}

.concept {
    margin: 110px 0 110px 0;
    text-align: center;
}

.concept h1 {
    font-size: 50px;
    transform: translate(0px);
    padding-bottom: 20px;
}

.concept p {
    margin-top: 20px;
    font-size: 29px;
}


.required {
    width: 100%;
    margin-top: 100px;
}
.items {
    display: flex;
}

.required .item img {
    width: 80%;
    box-shadow: 0px 0px 12px #00000014;
}
.item {
    text-align: center;
    padding-bottom: 50px;
    
}

.item img {
    object-fit: cover;
    align-items: center;
    
}

.skills {
    width: 100%;
    margin-top: 100px;
    animation: skills 0.5s ease-out 0s 1 forwards;
}

.skills .item img {
    width: 80%;
    box-shadow: 0px 0px 12px #00000014;
}

.skills .item h2{
    padding-top: 20px;
}



#flow {
    margin-top: 100px;
}

#flow .tittle::after {
    content: "";
    display: block;
    width: 160px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

.flowlist {
    width: 65%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C2E2FA;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 50px;
    
}

.flowlist p {
    font-weight: bold;
    font-size: 1.7rem;
    right: 20px;
}

.flowlist img {
    width: 20%;
    padding-right: 10px;
}


#question {
    padding: 100px 0;
}
#question .tittle {
    padding-left: 0;
}

#question .tittle::after {
    content: "";
    display: block;
    width: 190px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.faq-item {
    border: 1px solid #666;
    background: #eadff0;
}

.faq-item:last-of-type {
    margin-bottom: 50px;
}

#question .tittle::after {
    content: "";
    display: block;
    width: 190px;
    height: 2px;
    /* margin: 0 auto; */
    background-color: #E0E3DA;
    margin-top: 10px;
}

.faq-question {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 28px 70px 28px 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
}

.faq-question::before,
.faq-question::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    width: 22px;
    height: 2px;
    background: #111;
    transition: 0.1s;
}

.faq-question::before {
    transform: translateY(-50%);
}

.faq-question::after {
    transform: translateY(-50%) rotate(90deg);
}

.faq-item[open] .faq-question::after {
    opacity: 0;
}

.faq-answer p {
    padding: 0 30px 30px;
    font-size: 18px;
    line-height: 1.8;
}


#entry {
    background: #fff;
    padding-bottom: 50px;
}

.catch {
    color: #A593E0;
    text-shadow:
        0 0 5px rgba(134, 134, 134, 0.6),
        0 0 10px rgba(177, 177, 177, 0.5),
        0 0 20px rgba(193, 193, 193, 0.4);
    font-size: 3rem;
    text-align: center;
    font-weight: 550;
    letter-spacing: 0.08em;
    padding: 30px 0;
}

.catch h2 {
    margin: 20px 0;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn img{
    width: 30%;
    filter: drop-shadow(0 4px 12px #AAABD3);
}

.btn img:hover {
    filter: none;
    opacity: 0.7;
    transition: 0.3s;
}
/* *-----------------------------
    footer
*----------------------------- */

#footer {
    background-color: #fff;
    padding: 100px;

}

.adress {
    padding-bottom: 35px;
}

.icon {
    margin: 10px 0;
}

.icon a {
    padding-right: 10px;
}
.icon img{
    width: 20px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.info-text {
    width: 50%;
}

.map {
    width: 50%;
    margin: 0 aut10;
}